

.about {
	margin-left: 15px;
	margin-right: 15px;
	background-color: $col-color;
	border-radius: 5px;
	h2 {
		font-size: 55px;
	}
		p {
		color: #000;
		font-family: -webkit-pictograph;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 18px;
	}

}
