.chassis-single-title {
	h2 {
		padding-top: 10px;
		font-size: 43px;
	}
	img {
		padding-bottom: 70px;
	}
}

.chassis-content {
	background-color: $col-color;
	border-radius: $col-radius;
	margin-top: -9px;
	margin-left: 29px;
}

